<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Cricket Tournament App</title>
    @Styles.Render("~/Content/css")

</head>
<body class="container">
    <div>
        <nav role="navigation" class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">Tournament Scheduler</a>
            </div>
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Teams</a></li>
                    <li><a href="#">Records</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Login</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div>
        @RenderBody()
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>
    <script src="~/Scripts/jquery-2.2.1.min.js"></script>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/CustomCss")
    @Scripts.Render("~/bundles/CricketTournamentApp")
</body>
</html>
